<h1>Welcome to Funky||Fresh</h1>
<div id='frontpage'></div>


<h3>Keep your food fresh, not funky, with our kitchen inventory app.</h3>

<p>"Food loss represents a significant share of household food expenditures: our estimates suggest that the annual value of food loss is almost 10% of the average amount spent on food per consumer in 2008 and over 1% of the average disposable income. This consumer level loss translates into over .3 kg (0.7 lb) of food per capita per day valued at $1.07/day."</p>
<p>Bubzy & Hyman(2012)</p>



