<h1>Welcome to Funky||Fresh</h1>
<div id='frontpage'></div>
<p>According to U.S. Department of Agriculture, On average, people in North America throw away 20 pounds of food each month, which amounts to $2,275 a year for a family of four.</p>
