<h1>Welcome to Funky||Fresh</h1>
<div id='frontpage'></div>


<h3>Keep your food fresh, not funky, with our kitchen inventory app.</h3>

<p id= "quote"> "On average, my fellow citizens throw away 20 pounds of food each month, which amounts to $2,275 a year for a family of four, according to the U.S. Department of Agriculture."</p>
<p>Ira Sager reporting on Bubzy & Hyman (2012)</p>
