<table>
  <tr>
    <th>Item Name</th>
    <th>Expiration Date</th>
    <th>Location</th>
  </tr>

 <tbody class="item-block">

  <% if @pantry %>
    <%= render '/items/item' %>
  <% end %>
 </tbody>
</table>

<div class="new-item-create">
  <%= render '/items/new_item', locals: { :pantry => @pantry, :user => User.find(session[:user_id]) } %>
</div>
