<% if @user.id == @pantry.creator_id %>

<%= link_to 'Edit Pantry', edit_user_pantry_path(@user, @pantry), :id => "pantry_edit_button#{@pantry.id}", remote: true %> || <%= link_to 'Destroy Pantry', user_pantry_path(@user, @pantry), remote: true, method: :delete, :class => "pantry-delete", :id => "pantry_delete_button#{@pantry.id}" %>

<% end %>

<table>
  <tr>
    <th>Item Name</th>
    <th>Expiration Date</th>
  </tr>

 <tbody class="item-block">

  <% if @pantry %>
    <%= render '/items/item', locals: { :pantry => @pantry, :user => User.find(session[:user_id])} %>
  <% end %>
 </tbody>
</table>

<div class="new-item-create">
  <%= render '/items/new_item', locals: { :pantry => @pantry, :user => User.find(session[:user_id]) } %>
</div>
