<% @pantry.items.order(expiration_date: :asc).each do |item| %>
  <% puts "!!!!!!!!!!!!!!!!!!!!! pantry #{@pantry}"%>
  <tr class="item-row">
      <td><%= item.prototype.name %></td>
      <td><%= item.expiration_date %></td>
  </tr>

<% end %>