<%= render "layouts/logged_in_header" %>

<table>
  <tr>
    <th>Item Name</th>
    <th>Expiration Date</th>
    <th>Location</th>
  </tr>

  <% if @pantry %>
    <%= render '/items/item' %>
  <% end %>
</table>



<%= render '/items/new_item' %>


