<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h2>You've been invited to join Funky||Fresh</h2>
    <p>Sign up for a truly life-changing experience (for your kitchen).</p>
    <p>Just follow the link: <%= @url %></p>
  </body>
</html>