/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
	height: 3.5em;
	border-radius: 20px;
}

header nav {
	float: right;
}

nav ul li {
	display: inline;
	list-style-type: none;
	padding-right: 35px;
	font-size: 1.3em;
}

nav ul li a:link {
	text-decoration: none;
	font-weight: 700;
	color: #0F3F95;
}

nav ul li a:visited {
	color: #0F3F95;
}

nav ul li a:hover {
	color: #DB3C29;
	text-decoration: underline;
}

.body_container {
	width: 70%;
	background-color: lightblue;
	border-radius: 30px;
	padding: 40px;
	margin: 50px auto;
	text-align: left;
}

.body_container a:link {
	text-decoration: none;
	font-weight: 700;
	color: #0F3F95;
}

.body_container a:visited {
	color: #0F3F95;
}

.body_container a:hover {
	color: #DB3C29;
	text-decoration: underline;
}

