// Place all the styles related to the pantry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-radius: 8px;
}

table.pantry_table {
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.08em;
	font-size: 1.2em;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #F0FDA1;
}

thead.pantry_head th {
	border-bottom: 1px solid #F0FDA1;
	padding: 8px 0px 8px 0px;
	font-weight: 600;
}

table.pantry_table td {
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #F0FDA1;
}

div.new-item-create {
	display: inline;
}

table.pantry-nav td {
	padding-left: 70px;
	padding-right: 70px;
}

input#search-field {
	font-size: 1.1em;
	width: 100%;
	/*min-width: 200px;*/
	width: 450px;
	height: 30px;
	border-radius: 8px;
}

.search-button {
	display: none;
}

.new_invite_button {
	background-image: url('add-user.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
 	height: 40px;
 	border: 0px;
 	background-color: transparent;
 	cursor: pointer;
 	outline: 0; 
}

.edit_pantry_button {
	background-image: url('edit_cog.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
 	height: 40px;
 	border: 0px;
 	background-color: transparent;
 	cursor: pointer;
 	outline: 0; 
}

.new_item_button {
	background-image: url('add_item.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
 	height: 40px;
 	border: 0px;
 	background-color: transparent;
 	cursor: pointer;
 	outline: 0;
}

.trash_can {
 	width: 32px;
 	height: 32px;
 }


/*.pantry_table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #afff7e;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.pantry_table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.pantry_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.pantry_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.pantry_table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.pantry_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.pantry_table tr:hover td{
	
}
.pantry_table tr:nth-child(odd){ background-color:#63db1a; }
.pantry_table tr:nth-child(even)    { background-color:#afff7e; }.pantry_table td{
	vertical-align:middle;
	
	
	border:1px solid #afff7e;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#362819;
}.pantry_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.pantry_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.pantry_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.pantry_table tr:first-child td{
		background:-o-linear-gradient(bottom, #afff7e 5%, #63db1a 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #afff7e), color-stop(1, #63db1a) );
	background:-moz-linear-gradient( center top, #afff7e 5%, #63db1a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#afff7e", endColorstr="#63db1a");	background: -o-linear-gradient(top,#afff7e,63db1a);

	background-color:#afff7e;
	border:0px solid #afff7e;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#362819;
}
.pantry_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #afff7e 5%, #63db1a 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #afff7e), color-stop(1, #63db1a) );
	background:-moz-linear-gradient( center top, #afff7e 5%, #63db1a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#afff7e", endColorstr="#63db1a");	background: -o-linear-gradient(top,#afff7e,63db1a);

	background-color:#afff7e;
}
.pantry_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.pantry_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}*/