// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}

  .edit_pantry {
    display: none;
  }

  #new_pantry {
    display: none;
  }

  .new_invite {
    display: none;
  }

  .new_item {
    display: none;
  }
