<ul>
<li><%= link_to "Home", root_path, remote: true, :class => "home" %></li>
<li><%= link_to "Register", new_user_path, remote: true, :class => "register" %></li>
<li><%= link_to "Sign In", login_path, remote: true, :class => "login" %></li>
</ul>
