<ul>
<li><%= link_to image_tag('home.png', id: "home"), root_path, remote: true, :class => "home" %></li>
<li><%= link_to image_tag('sign_up.png', id: "sign_up"), new_user_path, remote: true, :class => "register" %></li>
<li><%= link_to image_tag('login.png', id: "login"), login_path, remote: true, :class => "login" %></li>
</ul>
