<ul>
<li>Welcome, <%= @user.first_name %>!</li>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Profile", user_path(session[:user_id]) %></li>
<li><%= link_to "Logout", logout_path %></li>
</ul>
